.idea
backend/auth-service/.env
backend/auth-service/node_modules

backend/user-service/.env
backend/user-service/node_modules

backend/product-service/.env
backend/product-service/node_modules

frontend/.env
frontend/node_modules