<style>
    .navbar {
        display: flex;
    }

    .navbar__nav ul {
        list-style: none;
        display: flex;
    }
</style>

<div class="navbar">
    <div class="navbar__brand">
        TechShop
    </div>
    <div class="navbar__nav">
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Product</a>
            </li>
            <li>
                <a href="#">Blog</a>
            </li>
        </ul>
    </div>
    <div class="navbar__search">
        <input type="text" placeholder="Search">
    </div>
</div>